<!DOCTYPE html>
<html class="no-js" lang="{{ request.locale.iso_code }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    <!-- Favicon -->
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: 32x32 }}">
    {%- endif -%}

    <!-- Typography -->
    {%- unless settings.heading_font.sytem? and settings.body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <!-- Meta Title & Description -->
    <title>
        {{ page_title }}
        {%- if current_tags -%} &ndash; tagged "{{ current_tags | join: ', ' }}"{%- endif -%}
        {%- if current_page != 1 -%} &ndash; Page {{ current_page }}{%- endif -%}
        {%- unless page_title contains shop.name -%} &ndash; {{ shop.name }}{%- endunless -%}
    </title>

    {%- if page_description -%}
        <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <!-- JavaScript -->
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>

    {{ content_for_header }}

    <!-- CSS -->

    {% style %}
      {{ settings.heading_font | font_face: font_display: 'swap' }}
      {{ settings.body_font | font_face: font_display: 'swap' }}

      :root {
        /* Variables for Font Settings */
        --heading-font-family: {{ settings.heading_font.family }}, {{ settings.heading_font.fallback_families }};
        --heading-font-style: {{ settings.heading_font.style }};
        --heading-font-weight: {{ settings.heading_font.weight }};

        --body-font-family: {{ settings.body_font.family }}, {{ settings.body_font.fallback_families }};
        --body-font-style: {{ settings.body_font.style }};
        --body-font-weight: {{ settings.body_font.weight }};

        /* Variables for Color Settings */
        --dominant-color: {{ settings.dominant_color }};
        --accent-color: {{ settings.accent_color }};
        --secondary-color-1: {{ settings.secondary_color_1 }};
        --secondary-color-2: {{ settings.secondary_color_2 }};
        --secondary-color-3: {{ settings.secondary_color_3 }};
        --light-neutral-1: {{ settings.light_neutral_1 }};
        --light-neutral-2: {{ settings.light_neutral_2 }};
        --light-neutral-3: {{ settings.light_neutral_3 }};
        --dark-neutral-1: {{ settings.dark_neutral_1 }};
        --dark-neutral-2: {{ settings.dark_neutral_2 }};
        --dark-neutral-3: {{ settings.dark_neutral_3 }};
        --error-state-color: {{ settings.error_state_color }};
        --warning-color: {{ settings.warning_color }};
        --success-color: {{ settings.success_color }};
        --neutral-state-color: {{ settings.neutral_state_color }};
        --additional-color-1: {{ settings.additional_color_1 }};
        --additional-color-2: {{ settings.additional_color_2 }};
        --additional-color-3: {{ settings.additional_color_3 }};
        --additional-color-4: {{ settings.additional_color_4 }};
        --additional-color-5: {{ settings.additional_color_5 }};

      }

    {% endstyle %}

    {{ 'main.css' | asset_url | stylesheet_tag }}

    <!-- Custom Fonts -->

    {{%- unless settings.heading_font.system? -%}}
        <link rel="preload" as="font" href="{{ settings.heading_font | font_url }}" type="font/woff2" crossorigin>
    {{%- endunless -%}}
    {{%- unless settings.body_font.system? -%}}
        <link rel="preload" as="font" href="{{ settings.body_font | font_url }}" type="font/woff2" crossorigin>
    {{%- endunless -%}}

</head>

<body>

    {{ content_for_layout }}

</body>

</html>